name: Integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    # This is used to check that Management API hasn't changed in a way that breaks the provider
    - cron: '0 3 * * *' # Runs every day at 3:00 AM UTC.
  workflow_dispatch:

jobs:
  integration:
    runs-on: ubuntu-latest
    environment: test
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup go
      uses: actions/setup-go@v2
      with:
        go-version: '1.23'

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_wrapper: false

    - name: Install make
      run: sudo apt-get install make -y

    - name: Configure Terraform
      run: |
        # This replaces the $HOME variable with the appropriate value.
        envsubst < .terraformrc_template > ~/.terraformrc

    - name: Build
      run: make

    - name: Run integration tests
      env:
        TEST_SINGLESTOREDB_API_KEY: ${{ secrets.TEST_SINGLESTOREDB_API_KEY }}
      run: make integration

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
